
.doctors_td{
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.doctors_td h1{
    font-size: 1.6em;
    text-align: center;
}
.doctors_td img{
    height: 55px;   
    width: 55px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #1DA6FD;
}
.doctors_tr{
    padding: 100px
}
.doctor_input{
    font-family: 'Open Sans';
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0.5px solid #a0a4a7;
    font-size: 15px;
}

.doctor_input:focus {
    outline-width: 0;
}