
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#Dashboard{
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    font-size: 1.6rem;
    overflow: hidden;
}

.hospital_line_navbar{
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
    color: #7A7A7A;
}

.hospital_line_navbar span{
    color: #adc2cf;
}
.hospital_line_navbar h1{
    display: block;
    text-align: right;
}


.account_button{
    display: block;
    position: absolute;
    right: 0 !important;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
}

.side_bar_main{
    background-color: #1DA6FD;
    height: 100% ;
    min-height: 100vh;
}


.side_bar_main_container{
    min-height: 100vh;
    width: 25vh;   
    padding: 0;

}

.active{
    background-color: #1E78B1 ;
}

.list-group-item{
    background-color: transparent;
    border: none ;
}


.IconAdjust2{
    padding-top: 1rem;
    padding-left: .8rem;
}

.dash_board{
    position: absolute;
    margin-left: 25vh;
    margin-top: 0rem;
    background-color: #EAEDEE;
    padding: 35px;
    height: 90px;
    width: 100%;
    z-index: 2;
}


.dash_board h2{
    color: #1DA6FD;
    margin-left: 70px;
    font-weight: bold;
}

.sidebar_subcollapse{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.IconAdjust{
    padding-top: 1rem;
    padding-left: 1.2rem;
}
.IconAdjust2{
    padding-top: 1rem;
    padding-left: .8rem;
}
.IconName{
    color: white;
    font-size: 17px;
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
}


.body_tab{
    margin-left:0;
    margin-right:0;
    width: 25vh;
    margin-top: 8rem;
}